.note {
    position: absolute;
    z-index: 1000;
    padding: 5px;
    border: 1px solid black;
    background: white;
    text-align: center;
    font: italic 14px Georgia;
}

blockquote {
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin: 0 0 0 100px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
    display: inline-block;
    white-space: pre;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
}