.images-bg
{
    background: #dedede;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 420px;
    padding: 10px 30px;
    position: relative;
}

.images-outer
{
    overflow: hidden;
    width: 420px;
    height: 130px;
}

.images
{
    width: 10000px;
    height: 130px;
    margin: 0;
    padding: 0;
}

.images li
{
    float: left;
    /*display: inline;*/
    list-style: none;
    margin: 0 5px;
}

.nav
{
    background: #c0c0c0;
    color: #000;
    border-radius: 8px;
    width: 20px;
    height: 30px;
    padding: 10px 0 0;
    display: block;
    position: absolute;
    top: 50px;
    quotes: "<" ">";
    text-decoration: none;
    text-align: center;
}

.nav.prev
{
    left: 4px;
}

.nav.next
{
    right: 4px;
}

.nav.prev:before
{
    content: open-quote;
}

.nav.next:before
{
    content: close-quote;
}
