button, button.sample
{
    text-decoration: none;
    font: 0;
    background: url(http://ru.lookatcode.com/show/22053442662581801/button_static.png);
    width: 186px;
    height: 52px;
    display: block;
    border: none;
}

button.sample:hover, button.hover
{
    background-image: url(http://ru.lookatcode.com/show/22053442662581801/button_hover.png);
}

button.sample:active, button.active
{
    background-image: url(http://ru.lookatcode.com/show/22053442662581801/button_click.png);
}