.outer
{
    background: no-repeat left top;
    background-image: url(arrow-right.png);
    padding: 0 0 0 20px;

    /* да да это копипаст */
    -webkit-user-select: none; /* user-select -- это нестандартное свойство */
    -moz-user-select: none; /* поэтому нужны префиксы */
    -ms-user-select: none;
    -o-user-select: none; /* не поддерживается, просто на будущее */

}

.outer ul
{
    display: none;
}

.outer.opened
{
    background-image: url(arrow-down.png);
}

.outer.opened ul
{
    display: inline;
}