body
{
    height: 2000px;
}

.draggable
{
    position: absolute;
    cursor:  pointer;
}

.hulk, .spiderman, .kickass, .unknown-hero1, .unknown-hero2
{
    background: url(http://ru.lookatcode.com/files/tutorial/browser/drag-heroes/heroes.png) no-repeat;
    width: 120px;
    height: 130px;
}

.winnie
{
    top: 10px;
    left: 850px;
    background: url(http://ru.lookatcode.com/files/tutorial/browser/drag-heroes/winnie.png) no-repeat;
    width: 115px;
    height: 128px;
}

.ball
{
    top: 310px;
    left: 820px;
    background: url(http://ru.lookatcode.com/files/tutorial/browser/drag-heroes/ball.png) no-repeat;
    width: 50px;
    height: 50px;
}

.unknown-hero1
{
    left: 980px;
    background-position: -122px 4px;
}

.unknown-hero2
{
    left: 1100px;
    background-position: 0px -127px;
}

.kickass
{
    left: 850px;
    top: 160px;
}

.spiderman
{
    left: 980px;
    top: 160px;
    background-position: -123px -127px;
}

.hulk
{
    left: 1100px;
    top: 160px;
    background-position: -243px 2px;
}

.field
{
    background: url(http://ru.lookatcode.com/files/tutorial/browser/drag-heroes/field.png);
    width: 800px;
    height: 600px;
}
